body{
    color: brown;
  margin: 0;
text-align: center;
font-size: 20px;

}
h1{ 
  color: #eae7d9;
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #e79c2a;
  font-family: 'Piedra', cursive;
}
p{
  line-height: 2;
}
a{
  color: red;
  margin: 10px 15px;
  text-decoration: none;
}
a:hover{
  color: #1b262c;
}
hr{
border: dotted;
color: burlywood;
border-bottom: none;
width: 5%;
margin: 100px auto;
}

.top-container{
background-color: #82c4c3;
  position: relative;
padding-top: 100px;
}
.middle-container{
 margin: 100px 0;
}
.bottom-container{
background-color: #b9cced;
position: relative;
padding: 50px 0 20px;
}
.profile-img{
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.boy-with-com{
  height: 180px;
  width: 180px;
  border-radius:100% ;
}

.work-men{
	height: 250px;
	width:250px ;
	border-radius:100% ;
}
.top-cloud{
position: absolute;
top: 60px;
right: 200px;
}
.bottom-cloud{
    position: absolute;
left: 170px;
top: 140px;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.btn{
<style type="text/css">
.contact-btn {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-( linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa) );
	background:-moz-linear-gradient( center top, #2dabf9 5%, #0688fa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa');
	background-color:#2dabf9;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
text-indent:0;
	border:1px solid #0b0e07;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #263666;
}.contact byn:hover {
	background:-( linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9) );
	background:-moz-linear-gradient( center top, #0688fa 5%, #2dabf9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9');
	background-color : black;
}.contact byn:active {
	position:relative;
	top:1px;
}

